@media(max-width:72rem){
  html{
    font-size:51.25% ;
  }

}



@media(max-width:56rem){
  html{
    font-size:45% ;
  }

}


@media(max-width:45rem){
    .ul-container{
      gap: 4rem;
      left: -2rem;
    }


    .header-container img{
      margin-left: 1rem;
    }
    

}



@media(max-width:30rem){
  .ul-container{
    display: none;
  }

  .header-container img{
    width:100px;
  }
}