@media(max-width:72rem){
  html{
    font-size:51.25% ;
  }

   .about{
      grid-template-columns: 1fr;
    }


}



@media(max-width:56rem){
  html{
    font-size:45% ;
  }

}


@media(max-width:50rem){
  html{
    font-size: 30%;
  }


    .ul-container{
      gap: 4rem;
      left: -2rem;
    }


    .header-container img{
      margin-left: 1rem;
    }


    .hero-section{
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 0;
    }
    .hero-section img{
      grid-row: 1/2;
    
    }

    .hero-txt{
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .hero-txt button{
      margin-top: 10px;
    }

    .arc-frame{
      padding-bottom: 10px;
    }

   

    

}



@media(max-width:30rem){



  .ul-container{
    flex-direction: column;
    position:fixed;
    top: -600px;
    left:250px;
    width: 50%;
    height: 200px;
    background-color:var(--red-background);
    padding-top:40px;
    gap: 15px;
    align-items: center;
    border-bottom-left-radius:5px;
  }

  .ul-container li a{
    font-size: 2rem;
    margin-right: 20px;
  }



  .header-container img{
    width:100px;
  }

  .burger{
    display: block;
  }


  .ul-container.active{
    top:60px;
  }






}



@media(max-width:403px){
  html{
    font-size:45%;
  }

  .ul-container{
    left: 220px;
  }


  .hero-section{
    align-content: center;
    
  }

  .hero-txt button{
    margin-top: 20px;
  }

 
}


@media(max-width:357px){
  .ul-container{
    left: 200px;
  }
}